<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= bootstrap_form_for(@user, url: new_user_path, label_errors: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.text_field :name, control_col: "col-sm-4" %>
  <%= f.text_field :email, control_col: "col-sm-4" %>
  <%= f.password_field :password, control_col: "col-sm-4" %>
  <%= f.submit %>  Or  <%= link_to('Log in with Google!', '/auth/google_oauth2') %> 

<% end %>