<br>



<div class="container">
  <% if flash[:warning] %>
    <div class="notice"><%= flash[:warning] %></div>
  <% end %>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href=<%="/types/#{@project.type.id}" %>><%= @project.type.name %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @project.name %></li>
  </ol>
  </nav>
  <div class="title"><h1><%= @project.name %></h1></div>
  <br>
  <div class="brief_description"><%= @project.brief_description %></div>
  <br>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @project.images.each_with_index do |image, index| %>
        <div class="<%=  "carousel-item #{"active" if index == 0}" %>">
          <%= image_tag(image) %>
        </div> 
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <br>
  <div class="creator">
    <h3>Created by: <%= link_to @project.user.name.titleize, user_path(@project.user) %></h3>
    <h6>Date added: <%= format_time(@project.created_at) %></h6>
    <h6><%= @project.public ? "This page is public" : "This page is private"%></h6>
  </div>

  <br>
  <br>
  <h3>Parts and Materials</h3>
    <div class="list-group">
      <% @project.parts.each do |part| %>
        <li class="list-group-item d-flex justify-content-between align-items-center"><%= link_to part.name, part_path(part) %>
          <span class="badge badge-primary badge-pill"><%= quantity(part) %></span>
        </li>
      <% end %>
    </div>
  <br>

  <h3>Description</h3>
  <p><%= @project.main_description %></p>
  <br>
  <% if @project.user == current_user %>
    <%= link_to "Edit this project", edit_project_path, class: "btn btn-primary" %>
    <%= link_to "Delete this project", delete_project_path(@project), class: "btn btn-danger", method: 'delete' %>
  <% end %>
</div> 
